@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Oxygen&family=Sassy+Frass&display=swap");

* {
  font-family: Oxygen;
}

h4 {
  text-align: right;
}

.nav-custom {
  background-color: orange;
}

.navbar-brand {
  font-weight: bold;
  font-family: Montserrat;
}

.nav-link {
  font-weight: bold !important;
}

h1 {
  text-align: center;
  font-family: Anton;
}

#fotosanti {
  max-width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: white;
  padding-top: 60px;
}

span {
  font-size: larger;
}
