@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Oxygen&family=Poppins:wght@700&family=Sassy+Frass&display=swap");

/* * P H BODY */

h1 {
  text-align: center;
  font-family: Anton;
}

p {
  font-size: larger;
  /*text-align: justify;*/
}

* {
  font-family: Oxygen;
}

h4 {
  text-align: right;
}

body {
  padding-top: 80px;
  background-color: #f8f8ff;
  padding-bottom: 80px;
}

/* NAV VAR*/

.nav-custom {
  background: #ff8000;
}

/* old header color

.nav-custom {
  background: linear-gradient(to top, #ff9900 1%, #ffcc00 50%);
}


*/

.navbar-brand {
  font-weight: bold;
  color: white !important;
  font-family: "Poppins" !important;
}

.nav-link {
  font-weight: bold !important;
  color: white !important;
}

.nav-link:hover {
  color: black !important;
}

/* PICTURES */

#fotosanti {
  /* biografia*/
  max-width: 50%;
  height: auto;
  display: block;
  float: left;
  margin: 15px;
}

#fotosantiindex {
  /* index */
  max-width: 50vh;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.fotocontacto img {
  height: auto;
  max-width: 50vh;
  display: block;
  margin-left: auto;
}

/* Carrusel de fotos.html */

/* Esto es para cambiar el color de los < > del Carousel, se cambia en fill */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/*FLOATING SOCIALS BAR */

.floatingsocials {
  position: fixed;
  width: 0px;
  margin-top: 50px;
  margin-left: -30px;
  list-style-type: none;
}

.floatingsocials a {
  color: black;
  font-size: 2vw;
  padding-top: 10px;
}

/* FOOTER */

.custom-footer {
  background-color: black;
}

.custom-footer p {
  font-size: large;
  color: orange;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 50;
  bottom: 0;
  right: 50;
  width: 80%;
  height: 80%;
}

.containeriframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.iframeproyectos {
  aspect-ratio: 16 / 9;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding-bottom: 1%;
  padding-top: 1%;
}

/*MEDIA QUERY*/

@media screen and (max-width: 960px) {
  body {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .floatingsocials {
    margin-left: -40px;
  }

  .floatingsocials a {
    color: black;
    font-size: 7vw;
    padding-top: 10px;
  }

  #fotosanti {
    /* biografia*/
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #fotosantiindex {
    /* biografia*/
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
  }

  .custom-footer p {
    font-size: x-small;
    color: orange;
  }

  .fotocontacto img {
    height: auto;
    max-width: 200%;
  }
}

/* currently unused due to current page version, left here in case the old header component is used in the future */

.socials {
  margin-left: 0.3em;
}

.socials a {
  color: black;
  padding-right: 1em;
  text-align: justify;
}
