@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Oxygen&family=Poppins:wght@700&family=Sassy+Frass&display=swap");

p {
  font-size: larger;
}

* {
  font-family: Oxygen;
}

h4 {
  text-align: right;
}

.nav-custom {
  background-color: orange;
}

.socials a {
  color: black;
  padding-right: 5px;
  text-align: justify;
  margin-left: 10px;
}

.navbar-brand {
  font-weight: bold;
  font-family: "Poppins" !important;
}

.nav-link {
  font-weight: bold !important;
}

h1 {
  text-align: center;
  font-family: Anton;
}

#fotosanti {
  max-width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  padding-top: 80px;
  background-color: #f8f8ff;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 100px;
  }
}
